<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./demo1.css" />
  </head>
  <body>
    <div class="main">
      <div class="left">
        <div class="thumbs"></div>
      </div>
      <div class="righ">
        <div class="padfpageview">
          <div class="tiprect"></div>
        </div>
        <div class="tags">
          <div class="tag">定位到 20 页 文字："报告期末，本集团资产总额46,470.20亿元" </div>
          <div class="tag">定位到 100 页</div>
          <div class="tag">定位到 150 页</div>
          <div class="tag">定位到 200 页</div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/index.bundle.js"></script>
  <script>
    var obj1 = {
      a: 1,
    };
    var obj2 = {
      b: 2,
    };
    var objc = {
      c: 3,
      b: 3,
    };

    var o = Object.assign({}, obj1, obj2, objc);
    console.log(o);
  </script>
</html>
